<h1><%= "#{current_user.name.capitalize} Listings" %></h1>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-4">
      <div class="row">
        <div class="thumbnail">
            <div class="caption center">
              <%= link_to image_tag(listing.image.url(:medium)), listing %>
              <h3><%= listing.name %></h3>
              <p><%= listing.price %></p>
              <p><%= "Sold by #{listing.user.name}" %></p>
              <% if current_user == listing.user %>
                <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
                <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>
